{% load static %}
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <meta http-equiv=X-UA-Compatible content="IE=edge"/>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta content="海鲸智能客服" name="description">
    <link href="" rel="apple-touch-icon">
    <title>海鲸智能客服</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/chat.css' %}" media="screen and (min-width:1000px)"/>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/mobile.css' %}"
          media="screen and (max-width:1000px)"/>
    <script type="text/javascript" src="{% static 'assets/js/chat.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/jquery-1.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/zishu.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/jquery-1.8.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/main.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/sinaFaceAndEffec.css' %}"/>
    <script type="text/javascript" src="{% static 'assets/js/jquery-1.8.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/sinaFaceAndEffec.js' %}"></script>
</head>
<body>
<div class="all">
    <div class="chat_index">
        <!--banner-->
        <div class="chat_banner">
            <img src="{% static 'assets/img/left.png' %}"
                 style="height:80%;width: auto;margin-left: -30px;margin-top: -15px;" alt="">
            <img src="{% static 'assets/img/biaoyu.png' %}" style="height:80%;width: auto;margin-left: 50px;" alt="">
        </div>

        <div class="chat_left">
            <!--聊天界面-->
            <div class="chat_main" id="chat_ul">
                <div class="nesHead">
                    <img src="{% static 'assets/img/kefu.png' %}" class="leftimg" alt="">
                    <div class="lefttxt">
                        <p>hello，我是机器人客服海鲸，请问您有什么问题呢？</p>
                    </div>
                </div>
            </div>

            <div class="send_message">
                <div class="head_h" id="head_h">
                    <div class="choice" id="choice">
                        <img class="trigger" id="emoji" src="{% static 'assets/img/face.png' %}" title="表情">
                        <img src="{% static 'assets/img/fasongtupian.png' %}" class="picture" id="imghead"
                             title="建议在人工服务下发送图片" onClick="$('#previewImg').click();">
                        <input type="file" accept="image/*" multiple onChange="previewImage(this)"
                               style="display: none;" id="previewImg">
                        <a href="http://www.hundsun.com/service.aspx"><img src="{% static 'assets/img/liuyan.png' %}"
                                                                           class="picture" title="留言"></a>
                        <a href="{% url 'huaxiang' %}"><img src="{% static 'assets/img/画像.png' %}" class="picture"
                                                                title="用户画像"></a>
                        <a href="http://finance.sina.com.cn/realstock/company/sh600570/nc.shtml?from=BaiduAladin"><img
                                src="{% static 'assets/img/zoushipc.png' %}" class="picture" title="股票走势"></a>
                        <img class="picture" id="rgfw" src="{% static 'assets/img/rgfw.png' %}" title="转人工服务">
                    </div>
                    <form>
                        <textarea name="send_txt" class="chackTextarea" id="send_txt" wrap="hard" placeholder="在此输入..."
                                  maxlength="200" onchange="this.value=this.value.substring(0, 200)"
                                  onkeydown="this.value=this.value.substring(0, 200)"
                                  onkeyup="this.value=this.value.substring(0, 200)"></textarea>
                        <p class="p" style="float:left;margin-left:0.625rem;margin-top:0.625rem;">您还可以输入<b class="num">200</b>字
                        </p>
                        <div>
                        <input type="button" value="发送" class="submit" id="submit">
                        <img src="{% static 'assets/img/add.png' %}" class="add" id="add">
                        </div>
                    </form>
                </div>
                <div class="mobileadd" id="mobileadd">
                    <a href="http://finance.sina.com.cn/realstock/company/sh600570/nc.shtml?from=BaiduAladin">
                        <div class="m">
                            <div class="kuang"><img src="{% static 'assets/img/走势.png' %}" class="pic" title="股票走势">
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'huaxiang' %}">
                        <div class="m">
                            <div class="kuang"><img src="{% static 'assets/img/画像分析.png' %}" class="pic" title="用户画像">
                            </div>
                        </div>
                    </a>
                    <a href="http://www.hundsun.com/service.aspx">
                        <div class="m">
                            <div class="kuang"><img src="{% static 'assets/img/留言.png' %}" class="pic" title="留言"></div>
                        </div>
                    </a>
                    <div class="m">
                        <div class="kuang"><img src="{% static 'assets/img/tupian.png' %}" class="pic" id="imghead"
                                                title="建议在人工服务下发送图片" onClick="$('#previewImg').click();"></div>
                    </div>
                    <input type="file" accept="image/*" multiple onChange="previewImage(this)" style="display: none;"
                           id="previewImg">
                    <div class="m">
                        <div class="kuang"><img class="pic" id="rgfw" src="{% static 'assets/img/人工服务.png' %}"
                                                title="转人工服务"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat_right">
            <div id="tab">
                <h3 class="active">
                    <img src="{% static 'assets/img/wenti.png' %}"
                         style="width:18px;height: 18px;padding-right: 3px;padding-top: 6px;">
                    常见问题
                </h3>
                <h3>
                    <img src="{% static 'assets/img/hengsheng.png' %}"
                         style="width:18px;height: 18px;padding-right: 3px;padding-top: 6px;">
                    恒生电子
                </h3>
                <div class="box" style="display:block">
                    <ul id="biaozhun">
                    </ul>
                </div>
                <div class="box">
                    <ul id="side_nav">
                        <li>
                            <a href="http://www.hundsun.com/sound.aspx">壹种声音
                            </a>
                        </li>
                        <li>
                            <a href="http://www.hundsun.com/news.aspx">新闻动态
                            </a>
                        </li>
                        <li>
                            <a href="http://www.hundsun.com/products.aspx">产品与解决方案
                            </a>
                        </li>
                        <li>
                            <a href="http://www.hundsun.com/investor.aspx">投资者关系
                            </a>
                        </li>
                        <li>
                            <a href="https://gongyi.hundsun.com/gy/">企业社会责任
                            </a>
                        </li>
                        <li>
                            <a href="http://www.hundsun.com/about.aspx">关于恒生
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //图片上传预览    IE是用了滤镜。
    function previewImage(file) {
        var file = document.getElementById("previewImg");
        //存放图片的父级元素
        var imgContainer = document.getElementsByClassName('chat_main')[0];
        //获取的图片文件
        var fileList = file.files;
        //文本框的父级元素
        var imgArr = [];
        //遍历获取到得图片文件
        for (var i = 0; i < fileList.length; i++) {
            var imgUrl = window.URL.createObjectURL(file.files[i]);
            imgArr.push(imgUrl);
            var img = document.createElement("img");
            img.className = 'mainimg';
            img.setAttribute("src", imgArr[i]);
            var imgAdd = document.createElement("div");
            imgAdd.appendChild(img);
            imgAdd.className = 'z_addImg';
            src = '<div class="answerHead" id="answerHead"><img src="img/users.png" class="rightimg">' + '</div>';
            imgContainer.innerHTML += src;
            imgContainer.appendChild(imgAdd);
        }
        ;
        boxScroll(chat_ul);
    }

    function boxScroll(o) {
        o.scrollTop = o.scrollHeight;
    }
</script>
</body>
</html>